name: Build_Latest
 
on: [push]
 
jobs:
  build:
 
    runs-on: windows-latest
 
    steps:
    - uses: actions/checkout@v1
      name: Checkout Code
     
    - name: Setup MSBuild Path
      uses: warrenbuckley/Setup-MSBuild@v1
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
       
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.2
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
     
    - name: Restore NuGet Packages
      run: nuget restore N_m3u8DL-CLI.sln
 
    - name: Build app for release
      run: msbuild N_m3u8DL-CLI.sln -t:rebuild -verbosity:diag -property:Configuration=Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4.0.0
      with:
        name: N_m3u8DL-CLI_latest
        path: N_m3u8DL-CLI\bin\ReleasesN_m3u8DL-CLI.exe
